.app {
  margin: 20px;
}

.app-container {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 0 10vw;
}

.bold {
  font-weight: bold;
}

.text-field {
  display: flex;
  flex-direction: column;
  max-width: 30vw;
  margin: 20px 0;
}

.initializer-container,
.responder-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  margin: 0 0 20px 0;
}

.initializer-container {
  border-bottom: solid;
}

.initializer-data,
.responder-data {
  display: inline-block;
  margin-left: 15vw;
}

.button-container {
  display: flex;
  justify-content: space-around;
}